* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}

/*!=============== header nav bar============  */
.nav {
  background-color: #324d6a;
  padding: 0px;
  display: flex;
  color: #eddde0;
  justify-content: space-between;
  align-items: center;
}
.img h2 {
  font-size: 18px;
  margin-inline: 10px;
  font-weight: 400;
  font-family: source code pro;
  cursor: pointer;
}
nav ul {
  list-style: none;
  display: flex;
}
.img img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.img {
  display: flex;
  align-items: center;
}
.sidebar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.sidebar ul li a {
  color: #eddde0;
  text-decoration: none;
  padding-inline: 10px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.sidebar ul li:hover a {
  color: #b6a5a8;
  text-decoration: none;
  padding-inline: 10px;
}
.btnlogin {
  background-color: #9bc8dd;
  color: #324d6a;
  padding: 3.5px 25px;
  border: 1px solid transparent;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 720;
  margin-right: 20px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  transition: background-color 0.3s ease-in-out;
}
.btnlogin:hover {
  background-color: #08746b;
  color: #c0d4e9;
  box-shadow: 2px 2px 12px black;
}
/*!===============  main page ============  */

.page-1 {
  background-color: #f4f5f7;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page-1 h1 {
  font-size: 40px;
  font-weight: 600;
  color: #324d6a;
  text-shadow: 2px 2px 2px black;
  margin-bottom: 20px;
}

.page-1 h4 {
  font-size: 16px;
  color: #324d6a;

  font-weight: 400;
  margin-bottom: 30px;
}

.page-1 .btnforstart {
  background-color: transparent;
  color: #324d6a;
  border: 1px solid #324d6a;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.page-1 .btnforstart:hover {
  background-color: #324d6a;
  color: #eddde0;
  border: 1px solid #324d6a;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
/*!===============  main page ============  */
.main-page {
  background-color: #e2e4e9;
  padding: 50px;
  width: 75%;
  border-top-right-radius: 10px;
  margin: 0px;
}
.image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.image input {
  padding: 5px;
  margin-block: 10px;
  width: 200px;
}
.bills {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.images-side {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#user {
  padding: 10px;
  width: 100px;
  height: 100px;
}
.bills input {
  padding: 5px;
  margin: 10px 40px;
  width: 200px;
}
.invoiceheading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.invoiceheading input {
  padding: 5px;
  margin-block: 10px;
  width: 200px;
}
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom .right {
  /* background-color: rgb(180, 180, 180); */
  padding: 10px 10px;
}
.bottom .right ul {
  display: flex;
  padding: 10px 20px;
  align-items: left;
  background-color: rgb(180, 180, 180);
  justify-content: space-between;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 2px 2px 10px black;
  list-style: none;
}
.bottom .right ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  list-style: none;
}

.bottom .right ul li input {
  padding: 3px;
  margin: 10px 20px;
  width: 150px;
}
.left {
  display: flex;
  align-items: left;
  justify-content: space-between;
  flex-direction: column;
}

.left textarea {
  padding: 5px;
  resize: none;
  margin: 10px 20px;
}
.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buttonside {
  display: flex;
  margin: 20px 10px;
  align-items: center;
  justify-content: space-between;
}
.btncreate {
  background-color: #ffffff00;
  color: #324d6a;
  padding: 10px 20px;
  border: 1px solid transparent;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 720;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  border: 1px solid #324d6a;
  display: inline-block;
  font-size: 13px;
  margin: 2px 10px;
  transition: background-color 0.3s ease-in-out;
}
.btnpreview {
  background-color: #9bc8dd;
  color: #324d6a;
  padding: 10px 20px;
  border: 1px solid transparent;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 720;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  transition: background-color 0.3s ease-in-out;
}

.lefty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.lefty .list {
  padding: 10px 20px;
  display: flex;
  margin: 10px 0px;
  border-radius: 5px;
  background-color: #4c5761;
  align-items: center;
  justify-content: space-between;
}
.items {
  padding: 5px;
  width: 200px;
  border: 1px solid transparent;
  border-bottom: 1px solid rgb(27, 17, 17);
}
.price {
  padding: 5px;
  border: 1px solid transparent;
  border-bottom: 1px solid rgb(27, 17, 17);
  width: 10%;
}
.quantity {
  width: 10%;
  padding: 5px;
  border: 1px solid transparent;
  border-bottom: 1px solid rgb(27, 17, 17);
}
.removee {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #324d6a;
  font-weight: 700;
  border: 1px solid rgb(32, 68, 92);
}
.middle {
  padding: 40px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.otherthing {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input-thing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.date-type {
  display: flex;
  align-items: left;
  justify-content: space-between;
  flex-direction: column;
}
.input-thing input {
  padding: 5px;
  width: 200px;
  margin: 2px;
}
.date-type h3 {
  font-size: 20px;
  font-weight: 600;
  margin: 5px 1px;
  color: #324d6a;
}
.addbtn {
  background-color: #ffffff00;
  color: #324d6a;
  padding: 10px 20px;
  border: 1px solid #324d6a;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 720;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 2px 10px;
  transition: background-color 0.3s ease-in-out;
}
.addbtn:hover {
  background-color: #9bc8dd;
}
/*!===============  footer page ============  */
footer {
  background-color: #324d6a;
  padding: 20px 20px;
  color: #eddde0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.parts {
  display: flex;
  justify-content: space-around;
}
.a li {
  list-style: none;
  padding: 10px 10px;
}
.a ul li a {
  color: #eddde0;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  padding: 10px 10px;
  font-family: Montserrat;
  transition: color 0.3s ease-in-out;
}
.parts h2 {
  font-size: 38px;
  font-weight: 600;
  color: #eddde0;
  text-shadow: 2px 2px 2px #000000;
}
.parts .div {
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.div input {
  width: 200px;
  background-color: rgb(223, 216, 220);
  padding: 5px;
  margin: 10px 2px;
  font-family: source code pro;
  border: 1px solid transparent;
  box-shadow: 1px 1px 10px black;
  font-weight: 800;
  border-radius: 5px;
  color: #324d6a;
}
.btnsubmit {
  background-color: #9bc8dd;
  color: #324d6a;
  padding: 10px 25px;
  border: 1px solid transparent;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 720;
  margin-right: 20px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  transition: background-color 0.3s ease-in-out;
}

.btnsubmit:hover {
  background-color: #08746b;
  color: #c0d4e9;
  box-shadow: 2px 2px 12px black;
  transition: background-color 0.3s ease-in-out;
}
